/* General Styles */
mongodb-body {
  background-color: #f5f5f5;
  background-image: url("./mongodb.jpg"); /* Add the background image */
  background-size: cover; /* Ensure the image covers the whole body */
  background-position: center center; /* Position the image at the center */
  background-attachment: fixed; /* Keep the background fixed while scrolling */
}

.timeline h1 {
  text-decoration: dotted;
  color: #333;
  margin-left: 10%;
  padding: 50px;
  margin-top: 0%;
  font-size: 60px;
}
.text-box h2 {
  font-weight: 600;
  color: #ffffff;
}

.text-box p {
  color: #ffffff;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  color: #333;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  background: #000000;
  color: #ffffff;
  position: relative;
  border-radius: 30px;
  font-size: 25px;
}

.left-container {
  left: 0;
  padding: 0.5px;
  margin-left: 2%;
}

.right-container {
  left: 52%;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #000000;
  top: 200px;
  left: 47%;
  margin-left: 80px;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline {
  margin-top: 10px;
  min-height: 100vh;
  position: relative;
}

.text-box h2 {
  font-weight: 600;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #000000;
  right: -15px;
}
.left-container {
  left: 0;
  padding: 0.5px;
  margin-left: 1%;
}

.right-container {
  left: 52%;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  left: 56%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #000000;
  left: -15px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    margin-left: 0;
    text-align: center;
  }

  .timeline {
    margin: 50px 20px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .left-container,
  .right-container {
    left: 0;
    width: 100%;
    margin-left: 0;
  }

  .text-box {
    font-size: 14px;
    padding: 15px;
  }

  .left-container-arrow,
  .right-container-arrow {
    display: none;
  }

  .timeline::after {
    left: 50%;
    margin-left: -3px;
  }
}

/* Additional media query for very small screens (like mobile phones in portrait mode) */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  .container {
    width: 100%;
    padding: 5px;
  }

  .text-box {
    font-size: 12px;
    padding: 10px;
  }
}
